h2{
    text-align: center;
    color: #ffff;
}

form{
    width: 25%;
    text-align: center;
color: #ffff;
    margin: auto;
    background-color: #2E4F4F;
    margin-top: 25px;
    border-radius: 7px;
    margin-bottom: 20px;
}


input, textarea{
    width: 50%;
    margin-bottom: 15px;
    padding: 5px;
}

textarea{
    margin-top: 15px;
    border: none;
}

.form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 100px;
}

